@charset "ISO-8859-1";

/* Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 18px;
  background-color:#dde0e6;
}

.wrap{
	height: 92vh;
	margin: 20px;
	z-index: 2;
	box-shadow: -8px 8px 10px #797979;
	position: relative;
	background-color: white;
}

.container{
	margin: 0 40px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
}

.container h2{
	margin-top: 30px;
	color: #d6502e;
}

#exit{
	position: absolute;
	top: 2px;
	right: 6px;
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
}

#exit:active{
	transform: translate(1px,1px);
}

#form{
	align-self: center;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;	
}

.login-input{
	border: none;
	background-color: #dde0e6;
	width: 100%;
	padding: 10px 10px;
}

#login-submit{
	width: 100px;
	background-color: #d6502e;
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
}

#login-submit:hover{
	cursor: pointer;
}

#login-submit:active{
	cursor: pointer;
	transform: translate(2px, 2px);		
}
